# API e configuração
fastapi>=0.115,<1
pydantic-settings>=2.7,<3
uvicorn[standard]>=0.34,<1

# Scraping HTTP e extração de HTML
beautifulsoup4>=4.12,<5
httpx>=0.28,<1

# Testes
pytest>=8.3,<9

sqlalchemy[asyncio]>=2.0,<3
asyncpg>=0.30,<1
alembic>=1.14,<2

# Fila de tarefas distribuida
dramatiq[redis]>=2.1,<3
